body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:121px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:121px;
}
#u1340 {
  position:absolute;
  left:2px;
  top:52px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1341 {
  position:absolute;
  left:21px;
  top:16px;
  width:289px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1342 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1343 {
  position:absolute;
  left:642px;
  top:31px;
  width:336px;
  height:20px;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
#u1345 {
  position:absolute;
  left:0px;
  top:91px;
  width:1000px;
  height:30px;
}
#u1345_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1006px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1346 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:35px;
}
#u1347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u1347 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1348 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u1349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u1349 {
  position:absolute;
  left:250px;
  top:0px;
  width:250px;
  height:30px;
}
#u1350 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u1351 {
  position:absolute;
  left:500px;
  top:0px;
  width:250px;
  height:30px;
}
#u1352 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u1353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u1353 {
  position:absolute;
  left:750px;
  top:0px;
  width:250px;
  height:30px;
}
#u1354 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u1355 {
  position:absolute;
  left:250px;
  top:30px;
  width:194px;
  height:240px;
  visibility:hidden;
}
#u1355_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:200px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1356 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:245px;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1358 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1359 {
  position:absolute;
  left:0px;
  top:40px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1360 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1361 {
  position:absolute;
  left:0px;
  top:80px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1362 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1363 {
  position:absolute;
  left:0px;
  top:120px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1364 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1365 {
  position:absolute;
  left:0px;
  top:160px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1366 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1367 {
  position:absolute;
  left:0px;
  top:200px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1368 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1369 {
  position:absolute;
  left:500px;
  top:30px;
  width:193px;
  height:90px;
  visibility:hidden;
}
#u1369_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:95px;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1371 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1372 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1373 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1374 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1375 {
  position:absolute;
  left:0px;
  top:60px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1376 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1377 {
  position:absolute;
  left:750px;
  top:30px;
  width:194px;
  height:120px;
  visibility:hidden;
}
#u1377_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:200px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1378 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:125px;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1379 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1380 {
  position:absolute;
  left:2px;
  top:2px;
  width:190px;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1381 {
  position:absolute;
  left:0px;
  top:40px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1382 {
  position:absolute;
  left:2px;
  top:2px;
  width:190px;
  word-wrap:break-word;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1383 {
  position:absolute;
  left:0px;
  top:80px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1384 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1385 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:180px;
  visibility:hidden;
}
#u1385_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:186px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:185px;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1387 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1388 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1389 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1390 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1391 {
  position:absolute;
  left:0px;
  top:60px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1392 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1393 {
  position:absolute;
  left:0px;
  top:90px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1394 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1395 {
  position:absolute;
  left:0px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1396 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1397 {
  position:absolute;
  left:0px;
  top:150px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1398 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1399 {
  position:absolute;
  left:452px;
  top:149px;
  width:97px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1400 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1401 {
  position:absolute;
  left:511px;
  top:436px;
  width:140px;
  height:40px;
}
#u1402 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1403 {
  position:absolute;
  left:349px;
  top:436px;
  width:140px;
  height:40px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1405 {
  position:absolute;
  left:349px;
  top:194px;
  width:29px;
  height:20px;
}
#u1406 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1407 {
  position:absolute;
  left:388px;
  top:194px;
  width:51px;
  height:22px;
}
#u1407_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1407_input:disabled {
  color:grayText;
}
#u1408 {
  position:absolute;
  left:388px;
  top:226px;
  width:119px;
  height:22px;
}
#u1408_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1408_input:disabled {
  color:grayText;
}
#u1409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u1409 {
  position:absolute;
  left:309px;
  top:228px;
  width:65px;
  height:18px;
  font-size:13px;
  text-align:center;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u1411 {
  position:absolute;
  left:347px;
  top:258px;
  width:27px;
  height:18px;
  font-size:13px;
  text-align:center;
}
#u1412 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1413 {
  position:absolute;
  left:388px;
  top:258px;
  width:110px;
  height:25px;
}
#u1413_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1414 {
  position:absolute;
  left:388px;
  top:286px;
  width:149px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u1416 {
  position:absolute;
  left:347px;
  top:314px;
  width:27px;
  height:18px;
  font-size:13px;
  text-align:center;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1418 {
  position:absolute;
  left:388px;
  top:314px;
  width:300px;
  height:102px;
}
#u1418_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:102px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
