body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1849 {
  position:absolute;
  left:0px;
  top:110px;
  width:1000px;
  height:52px;
}
#u1850 {
  position:absolute;
  left:2px;
  top:18px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:47px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1853 {
  position:absolute;
  left:36px;
  top:13px;
  width:193px;
  height:45px;
}
#u1854 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1855 {
  position:absolute;
  left:237px;
  top:31px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1857 {
  position:absolute;
  left:710px;
  top:58px;
  width:200px;
  height:35px;
}
#u1857_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1858 {
  position:absolute;
  left:920px;
  top:58px;
  width:60px;
  height:35px;
}
#u1858_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1859 {
  position:absolute;
  left:894px;
  top:18px;
  width:86px;
  height:22px;
  font-size:16px;
}
#u1860 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u1861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1861 {
  position:absolute;
  left:810px;
  top:18px;
  width:67px;
  height:22px;
  font-size:16px;
}
#u1862 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1863 {
  position:absolute;
  left:68px;
  top:110px;
  width:865px;
  height:52px;
}
#u1863_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:871px;
  height:58px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1864 {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:57px;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1865 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1867 {
  position:absolute;
  left:144px;
  top:0px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1869 {
  position:absolute;
  left:288px;
  top:0px;
  width:144px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1870 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1871 {
  position:absolute;
  left:432px;
  top:0px;
  width:144px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1872 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1873 {
  position:absolute;
  left:576px;
  top:0px;
  width:144px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u1875 {
  position:absolute;
  left:720px;
  top:0px;
  width:145px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u1877 {
  position:absolute;
  left:576px;
  top:52px;
  width:144px;
  height:104px;
  visibility:hidden;
}
#u1877_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:150px;
  height:110px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:109px;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1881 {
  position:absolute;
  left:0px;
  top:52px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1884 {
  position:absolute;
  left:0px;
  top:418px;
  width:1000px;
  height:150px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:67px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u1886 {
  position:absolute;
  left:145px;
  top:457px;
  width:160px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1888 {
  position:absolute;
  left:345px;
  top:457px;
  width:510px;
  height:72px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1890 {
  position:absolute;
  left:451px;
  top:183px;
  width:98px;
  height:33px;
}
#u1891 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1893 {
  position:absolute;
  left:276px;
  top:342px;
  width:43px;
  height:20px;
}
#u1894 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:72px;
}
#u1895 {
  position:absolute;
  left:255px;
  top:261px;
  width:85px;
  height:71px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:28px;
  width:81px;
  word-wrap:break-word;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1898 {
  position:absolute;
  left:404px;
  top:342px;
  width:57px;
  height:20px;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:72px;
}
#u1900 {
  position:absolute;
  left:390px;
  top:261px;
  width:85px;
  height:71px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:28px;
  width:81px;
  word-wrap:break-word;
}
#u1902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1903 {
  position:absolute;
  left:539px;
  top:342px;
  width:57px;
  height:20px;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:72px;
}
#u1905 {
  position:absolute;
  left:525px;
  top:261px;
  width:85px;
  height:71px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:28px;
  width:81px;
  word-wrap:break-word;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1908 {
  position:absolute;
  left:681px;
  top:342px;
  width:43px;
  height:20px;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:72px;
}
#u1910 {
  position:absolute;
  left:660px;
  top:261px;
  width:85px;
  height:71px;
}
#u1911 {
  position:absolute;
  left:2px;
  top:28px;
  width:81px;
  word-wrap:break-word;
}
