body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2071 {
  position:absolute;
  left:0px;
  top:110px;
  width:1000px;
  height:52px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:18px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:47px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2075 {
  position:absolute;
  left:36px;
  top:13px;
  width:193px;
  height:45px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2077 {
  position:absolute;
  left:237px;
  top:31px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2079 {
  position:absolute;
  left:710px;
  top:58px;
  width:200px;
  height:35px;
}
#u2079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2080 {
  position:absolute;
  left:920px;
  top:58px;
  width:60px;
  height:35px;
}
#u2080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2081 {
  position:absolute;
  left:894px;
  top:18px;
  width:86px;
  height:22px;
  font-size:16px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2083 {
  position:absolute;
  left:810px;
  top:18px;
  width:67px;
  height:22px;
  font-size:16px;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2085 {
  position:absolute;
  left:68px;
  top:110px;
  width:865px;
  height:52px;
}
#u2085_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:871px;
  height:58px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:57px;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2089 {
  position:absolute;
  left:144px;
  top:0px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2091 {
  position:absolute;
  left:288px;
  top:0px;
  width:144px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2093 {
  position:absolute;
  left:432px;
  top:0px;
  width:144px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2095 {
  position:absolute;
  left:576px;
  top:0px;
  width:144px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u2097 {
  position:absolute;
  left:720px;
  top:0px;
  width:145px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u2099 {
  position:absolute;
  left:576px;
  top:52px;
  width:144px;
  height:104px;
  visibility:hidden;
}
#u2099_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:150px;
  height:110px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2100 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:109px;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:52px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2106 {
  position:absolute;
  left:0px;
  top:466px;
  width:1000px;
  height:150px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:67px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u2108 {
  position:absolute;
  left:145px;
  top:505px;
  width:160px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2110 {
  position:absolute;
  left:345px;
  top:505px;
  width:510px;
  height:72px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2111 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2112 {
  position:absolute;
  left:476px;
  top:182px;
  width:49px;
  height:33px;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2114 {
  position:absolute;
  left:368px;
  top:225px;
  width:300px;
  height:25px;
}
#u2114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2115 {
  position:absolute;
  left:368px;
  top:305px;
  width:300px;
  height:25px;
}
#u2115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2116 {
  position:absolute;
  left:434px;
  top:399px;
  width:140px;
  height:34px;
}
#u2116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2117 {
  position:absolute;
  left:368px;
  top:345px;
  width:300px;
  height:25px;
}
#u2117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2118 {
  position:absolute;
  left:368px;
  top:261px;
  width:300px;
  height:25px;
}
#u2118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
