body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1948 {
  position:absolute;
  left:426px;
  top:121px;
  width:78px;
  height:34px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:9px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:122px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:122px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:53px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1953 {
  position:absolute;
  left:32px;
  top:30px;
  width:129px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1955 {
  position:absolute;
  left:757px;
  top:43px;
  width:43px;
  height:20px;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  position:absolute;
  left:834px;
  top:43px;
  width:43px;
  height:20px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1959 {
  position:absolute;
  left:912px;
  top:43px;
  width:57px;
  height:20px;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u1961 {
  position:absolute;
  left:0px;
  top:153px;
  width:1000px;
  height:1px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1963 {
  position:absolute;
  left:447px;
  top:128px;
  width:37px;
  height:20px;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1965 {
  position:absolute;
  left:517px;
  top:128px;
  width:37px;
  height:20px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1968 {
  position:absolute;
  left:0px;
  top:687px;
  width:1000px;
  height:84px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:34px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1970 {
  position:absolute;
  left:290px;
  top:712px;
  width:85px;
  height:20px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1972 {
  position:absolute;
  left:416px;
  top:712px;
  width:85px;
  height:20px;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1974 {
  position:absolute;
  left:542px;
  top:712px;
  width:71px;
  height:20px;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1976 {
  position:absolute;
  left:654px;
  top:712px;
  width:57px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:122px;
}
#u1978 {
  position:absolute;
  left:83px;
  top:269px;
  width:114px;
  height:121px;
}
#u1979 {
  position:absolute;
  left:2px;
  top:52px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1980 {
  position:absolute;
  left:207px;
  top:269px;
  width:121px;
  height:28px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:122px;
}
#u1982 {
  position:absolute;
  left:376px;
  top:269px;
  width:114px;
  height:121px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:52px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1984 {
  position:absolute;
  left:500px;
  top:269px;
  width:141px;
  height:28px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:122px;
}
#u1986 {
  position:absolute;
  left:674px;
  top:269px;
  width:114px;
  height:121px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:52px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1988 {
  position:absolute;
  left:798px;
  top:269px;
  width:101px;
  height:28px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1989 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:122px;
}
#u1990 {
  position:absolute;
  left:83px;
  top:461px;
  width:114px;
  height:121px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:52px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1992 {
  position:absolute;
  left:207px;
  top:461px;
  width:101px;
  height:28px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
