body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
}
#u2 {
  position:absolute;
  left:2px;
  top:47px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u3 {
  position:absolute;
  left:34px;
  top:31px;
  width:202px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:845px;
  top:48px;
  width:43px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u7 {
  position:absolute;
  left:920px;
  top:48px;
  width:43px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u9 {
  position:absolute;
  left:674px;
  top:12px;
  width:301px;
  height:17px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:0px;
  top:820px;
  width:1000px;
  height:91px;
}
#u13 {
  position:absolute;
  left:2px;
  top:38px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:483px;
  top:876px;
  width:99px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:16px;
  top:876px;
  width:57px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:620px;
  top:876px;
  width:85px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:738px;
  top:876px;
  width:71px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:840px;
  top:876px;
  width:57px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:923px;
  top:876px;
  width:43px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u26 {
  position:absolute;
  left:0px;
  top:865px;
  width:1000px;
  height:1px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:136px;
  top:835px;
  width:29px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u30 {
  position:absolute;
  left:200px;
  top:835px;
  width:29px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:264px;
  top:835px;
  width:57px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u34 {
  position:absolute;
  left:356px;
  top:835px;
  width:57px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u36 {
  position:absolute;
  left:448px;
  top:835px;
  width:57px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:541px;
  top:835px;
  width:43px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u40 {
  position:absolute;
  left:619px;
  top:835px;
  width:29px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u42 {
  position:absolute;
  left:683px;
  top:835px;
  width:57px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u44 {
  position:absolute;
  left:775px;
  top:835px;
  width:57px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u46 {
  position:absolute;
  left:867px;
  top:835px;
  width:29px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u48 {
  position:absolute;
  left:368px;
  top:122px;
  width:57px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u50 {
  position:absolute;
  left:449px;
  top:122px;
  width:57px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u52 {
  position:absolute;
  left:530px;
  top:122px;
  width:29px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u54 {
  position:absolute;
  left:603px;
  top:122px;
  width:29px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u56 {
  position:absolute;
  left:0px;
  top:110px;
  width:1000px;
  height:1px;
}
#u57 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u58 {
  position:absolute;
  left:0px;
  top:150px;
  width:1000px;
  height:1px;
}
#u59 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u60 {
  position:absolute;
  left:446px;
  top:589px;
  width:109px;
  height:25px;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:130px;
}
#u63 {
  position:absolute;
  left:195px;
  top:638px;
  width:125px;
  height:129px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u64 {
  position:absolute;
  left:2px;
  top:56px;
  width:121px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:201px;
  top:777px;
  width:113px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:525px;
  top:777px;
  width:113px;
  height:20px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:130px;
}
#u70 {
  position:absolute;
  left:519px;
  top:638px;
  width:125px;
  height:129px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u71 {
  position:absolute;
  left:2px;
  top:56px;
  width:121px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:687px;
  top:777px;
  width:113px;
  height:20px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:130px;
}
#u75 {
  position:absolute;
  left:681px;
  top:638px;
  width:125px;
  height:129px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u76 {
  position:absolute;
  left:2px;
  top:56px;
  width:121px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:365px;
  top:777px;
  width:113px;
  height:20px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:130px;
}
#u80 {
  position:absolute;
  left:359px;
  top:638px;
  width:125px;
  height:129px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u81 {
  position:absolute;
  left:2px;
  top:56px;
  width:121px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:401px;
}
#u82 {
  position:absolute;
  left:14px;
  top:161px;
  width:712px;
  height:400px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u83 {
  position:absolute;
  left:2px;
  top:182px;
  width:708px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:129px;
}
#u84 {
  position:absolute;
  left:736px;
  top:433px;
  width:129px;
  height:128px;
}
#u85 {
  position:absolute;
  left:2px;
  top:56px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:129px;
}
#u86 {
  position:absolute;
  left:871px;
  top:433px;
  width:129px;
  height:128px;
}
#u87 {
  position:absolute;
  left:2px;
  top:56px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:263px;
}
#u88 {
  position:absolute;
  left:736px;
  top:161px;
  width:264px;
  height:262px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u89 {
  position:absolute;
  left:2px;
  top:104px;
  width:260px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u90 {
  position:absolute;
  left:656px;
  top:114px;
  width:287px;
  height:90px;
  font-size:13px;
  color:#FF0000;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
