html, body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
a {
  color: blue;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
