body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:121px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:121px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:52px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1940 {
  position:absolute;
  left:21px;
  top:16px;
  width:289px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  position:absolute;
  left:642px;
  top:31px;
  width:336px;
  height:20px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
#u1944 {
  position:absolute;
  left:0px;
  top:91px;
  width:1000px;
  height:30px;
}
#u1944_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1006px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:35px;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1947 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1948 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:30px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1950 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:30px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1952 {
  position:absolute;
  left:600px;
  top:0px;
  width:200px;
  height:30px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1954 {
  position:absolute;
  left:800px;
  top:0px;
  width:200px;
  height:30px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u1956 {
  position:absolute;
  left:200px;
  top:30px;
  width:194px;
  height:240px;
  visibility:hidden;
}
#u1956_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:200px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:245px;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1959 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1960 {
  position:absolute;
  left:0px;
  top:40px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1961 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1962 {
  position:absolute;
  left:0px;
  top:80px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1963 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1964 {
  position:absolute;
  left:0px;
  top:120px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1965 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:160px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1967 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:200px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1969 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1970 {
  position:absolute;
  left:400px;
  top:30px;
  width:193px;
  height:90px;
  visibility:hidden;
}
#u1970_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:95px;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1973 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1974 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1975 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:60px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1977 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1978 {
  position:absolute;
  left:600px;
  top:30px;
  width:193px;
  height:120px;
  visibility:hidden;
}
#u1978_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:125px;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1981 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1983 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1984 {
  position:absolute;
  left:0px;
  top:60px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1985 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:90px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1987 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1988 {
  position:absolute;
  left:800px;
  top:30px;
  width:194px;
  height:150px;
  visibility:hidden;
}
#u1988_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:200px;
  height:156px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1989 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:155px;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1991 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u1992 {
  position:absolute;
  left:0px;
  top:30px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1993 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:60px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1995 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u1996 {
  position:absolute;
  left:0px;
  top:90px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1997 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u1998 {
  position:absolute;
  left:0px;
  top:120px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1999 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u2000 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:180px;
  visibility:hidden;
}
#u2000_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:186px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:185px;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u2002 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2003 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2005 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:60px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2007 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:90px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2009 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u2010 {
  position:absolute;
  left:0px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2011 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:150px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2013 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2014 {
  position:absolute;
  left:416px;
  top:149px;
  width:169px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2016 {
  position:absolute;
  left:732px;
  top:203px;
  width:140px;
  height:40px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u2018 {
  position:absolute;
  left:205px;
  top:323px;
  width:672px;
  height:455px;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2021 {
  position:absolute;
  left:144px;
  top:0px;
  width:383px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2022 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2023 {
  position:absolute;
  left:527px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2024 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2025 {
  position:absolute;
  left:0px;
  top:30px;
  width:144px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2026 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2027 {
  position:absolute;
  left:144px;
  top:30px;
  width:383px;
  height:30px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2029 {
  position:absolute;
  left:527px;
  top:30px;
  width:140px;
  height:30px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2031 {
  position:absolute;
  left:0px;
  top:60px;
  width:144px;
  height:30px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2033 {
  position:absolute;
  left:144px;
  top:60px;
  width:383px;
  height:30px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2035 {
  position:absolute;
  left:527px;
  top:60px;
  width:140px;
  height:30px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2037 {
  position:absolute;
  left:0px;
  top:90px;
  width:144px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2038 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2039 {
  position:absolute;
  left:144px;
  top:90px;
  width:383px;
  height:30px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2041 {
  position:absolute;
  left:527px;
  top:90px;
  width:140px;
  height:30px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2043 {
  position:absolute;
  left:0px;
  top:120px;
  width:144px;
  height:30px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2045 {
  position:absolute;
  left:144px;
  top:120px;
  width:383px;
  height:30px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2047 {
  position:absolute;
  left:527px;
  top:120px;
  width:140px;
  height:30px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:150px;
  width:144px;
  height:30px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2051 {
  position:absolute;
  left:144px;
  top:150px;
  width:383px;
  height:30px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2053 {
  position:absolute;
  left:527px;
  top:150px;
  width:140px;
  height:30px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2055 {
  position:absolute;
  left:0px;
  top:180px;
  width:144px;
  height:30px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2057 {
  position:absolute;
  left:144px;
  top:180px;
  width:383px;
  height:30px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2059 {
  position:absolute;
  left:527px;
  top:180px;
  width:140px;
  height:30px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:210px;
  width:144px;
  height:30px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2063 {
  position:absolute;
  left:144px;
  top:210px;
  width:383px;
  height:30px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2065 {
  position:absolute;
  left:527px;
  top:210px;
  width:140px;
  height:30px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2067 {
  position:absolute;
  left:0px;
  top:240px;
  width:144px;
  height:30px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2069 {
  position:absolute;
  left:144px;
  top:240px;
  width:383px;
  height:30px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2071 {
  position:absolute;
  left:527px;
  top:240px;
  width:140px;
  height:30px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2073 {
  position:absolute;
  left:0px;
  top:270px;
  width:144px;
  height:30px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2075 {
  position:absolute;
  left:144px;
  top:270px;
  width:383px;
  height:30px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2077 {
  position:absolute;
  left:527px;
  top:270px;
  width:140px;
  height:30px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:300px;
  width:144px;
  height:30px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2081 {
  position:absolute;
  left:144px;
  top:300px;
  width:383px;
  height:30px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2083 {
  position:absolute;
  left:527px;
  top:300px;
  width:140px;
  height:30px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2085 {
  position:absolute;
  left:0px;
  top:330px;
  width:144px;
  height:30px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2087 {
  position:absolute;
  left:144px;
  top:330px;
  width:383px;
  height:30px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2089 {
  position:absolute;
  left:527px;
  top:330px;
  width:140px;
  height:30px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2091 {
  position:absolute;
  left:0px;
  top:360px;
  width:144px;
  height:30px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2093 {
  position:absolute;
  left:144px;
  top:360px;
  width:383px;
  height:30px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2095 {
  position:absolute;
  left:527px;
  top:360px;
  width:140px;
  height:30px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:390px;
  width:144px;
  height:30px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2099 {
  position:absolute;
  left:144px;
  top:390px;
  width:383px;
  height:30px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2101 {
  position:absolute;
  left:527px;
  top:390px;
  width:140px;
  height:30px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:420px;
  width:144px;
  height:30px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2105 {
  position:absolute;
  left:144px;
  top:420px;
  width:383px;
  height:30px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2107 {
  position:absolute;
  left:527px;
  top:420px;
  width:140px;
  height:30px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2109 {
  position:absolute;
  left:446px;
  top:253px;
  width:239px;
  height:60px;
  color:#FF0000;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2111 {
  position:absolute;
  left:403px;
  top:783px;
  width:197px;
  height:20px;
  color:#FF0000;
}
#u2112 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
