body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:121px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:121px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:52px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1892 {
  position:absolute;
  left:21px;
  top:16px;
  width:289px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  position:absolute;
  left:642px;
  top:31px;
  width:336px;
  height:20px;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
#u1896 {
  position:absolute;
  left:0px;
  top:91px;
  width:1000px;
  height:30px;
}
#u1896_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1006px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:35px;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1899 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u1900 {
  position:absolute;
  left:250px;
  top:0px;
  width:250px;
  height:30px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u1902 {
  position:absolute;
  left:500px;
  top:0px;
  width:250px;
  height:30px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u1904 {
  position:absolute;
  left:750px;
  top:0px;
  width:250px;
  height:30px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u1906 {
  position:absolute;
  left:250px;
  top:30px;
  width:194px;
  height:240px;
  visibility:hidden;
}
#u1906_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:200px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:245px;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1909 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1910 {
  position:absolute;
  left:0px;
  top:40px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1911 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1912 {
  position:absolute;
  left:0px;
  top:80px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1913 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1914 {
  position:absolute;
  left:0px;
  top:120px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1915 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1916 {
  position:absolute;
  left:0px;
  top:160px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1917 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1918 {
  position:absolute;
  left:0px;
  top:200px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1919 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u1920 {
  position:absolute;
  left:500px;
  top:30px;
  width:193px;
  height:90px;
  visibility:hidden;
}
#u1920_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:95px;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1923 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1924 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1925 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1926 {
  position:absolute;
  left:0px;
  top:60px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1927 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1928 {
  position:absolute;
  left:750px;
  top:30px;
  width:194px;
  height:110px;
  visibility:hidden;
}
#u1928_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:200px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:115px;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1931 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1932 {
  position:absolute;
  left:0px;
  top:30px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1933 {
  position:absolute;
  left:2px;
  top:2px;
  width:190px;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u1934 {
  position:absolute;
  left:0px;
  top:70px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1935 {
  position:absolute;
  left:2px;
  top:2px;
  width:190px;
  word-wrap:break-word;
}
#u1936 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:180px;
  visibility:hidden;
}
#u1936_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:186px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:185px;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1939 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1940 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1941 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1942 {
  position:absolute;
  left:0px;
  top:60px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1943 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1944 {
  position:absolute;
  left:0px;
  top:90px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1945 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1946 {
  position:absolute;
  left:0px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1947 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1948 {
  position:absolute;
  left:0px;
  top:150px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1949 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1950 {
  position:absolute;
  left:416px;
  top:149px;
  width:169px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1952 {
  position:absolute;
  left:732px;
  top:203px;
  width:140px;
  height:40px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1954 {
  position:absolute;
  left:205px;
  top:323px;
  width:672px;
  height:455px;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u1957 {
  position:absolute;
  left:144px;
  top:0px;
  width:383px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1958 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1959 {
  position:absolute;
  left:527px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1960 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1961 {
  position:absolute;
  left:0px;
  top:30px;
  width:144px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1962 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u1963 {
  position:absolute;
  left:144px;
  top:30px;
  width:383px;
  height:30px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1965 {
  position:absolute;
  left:527px;
  top:30px;
  width:140px;
  height:30px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:60px;
  width:144px;
  height:30px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u1969 {
  position:absolute;
  left:144px;
  top:60px;
  width:383px;
  height:30px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1971 {
  position:absolute;
  left:527px;
  top:60px;
  width:140px;
  height:30px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1973 {
  position:absolute;
  left:0px;
  top:90px;
  width:144px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1974 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u1975 {
  position:absolute;
  left:144px;
  top:90px;
  width:383px;
  height:30px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1977 {
  position:absolute;
  left:527px;
  top:90px;
  width:140px;
  height:30px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:120px;
  width:144px;
  height:30px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u1981 {
  position:absolute;
  left:144px;
  top:120px;
  width:383px;
  height:30px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1983 {
  position:absolute;
  left:527px;
  top:120px;
  width:140px;
  height:30px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1985 {
  position:absolute;
  left:0px;
  top:150px;
  width:144px;
  height:30px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u1987 {
  position:absolute;
  left:144px;
  top:150px;
  width:383px;
  height:30px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1989 {
  position:absolute;
  left:527px;
  top:150px;
  width:140px;
  height:30px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:180px;
  width:144px;
  height:30px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u1993 {
  position:absolute;
  left:144px;
  top:180px;
  width:383px;
  height:30px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1995 {
  position:absolute;
  left:527px;
  top:180px;
  width:140px;
  height:30px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1997 {
  position:absolute;
  left:0px;
  top:210px;
  width:144px;
  height:30px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u1999 {
  position:absolute;
  left:144px;
  top:210px;
  width:383px;
  height:30px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:6px;
  width:379px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2001 {
  position:absolute;
  left:527px;
  top:210px;
  width:140px;
  height:30px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2003 {
  position:absolute;
  left:0px;
  top:240px;
  width:144px;
  height:30px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2005 {
  position:absolute;
  left:144px;
  top:240px;
  width:383px;
  height:30px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2007 {
  position:absolute;
  left:527px;
  top:240px;
  width:140px;
  height:30px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2009 {
  position:absolute;
  left:0px;
  top:270px;
  width:144px;
  height:30px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2011 {
  position:absolute;
  left:144px;
  top:270px;
  width:383px;
  height:30px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2013 {
  position:absolute;
  left:527px;
  top:270px;
  width:140px;
  height:30px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2015 {
  position:absolute;
  left:0px;
  top:300px;
  width:144px;
  height:30px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2017 {
  position:absolute;
  left:144px;
  top:300px;
  width:383px;
  height:30px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2019 {
  position:absolute;
  left:527px;
  top:300px;
  width:140px;
  height:30px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2021 {
  position:absolute;
  left:0px;
  top:330px;
  width:144px;
  height:30px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2023 {
  position:absolute;
  left:144px;
  top:330px;
  width:383px;
  height:30px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2025 {
  position:absolute;
  left:527px;
  top:330px;
  width:140px;
  height:30px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2027 {
  position:absolute;
  left:0px;
  top:360px;
  width:144px;
  height:30px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2029 {
  position:absolute;
  left:144px;
  top:360px;
  width:383px;
  height:30px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2031 {
  position:absolute;
  left:527px;
  top:360px;
  width:140px;
  height:30px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2033 {
  position:absolute;
  left:0px;
  top:390px;
  width:144px;
  height:30px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2035 {
  position:absolute;
  left:144px;
  top:390px;
  width:383px;
  height:30px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2037 {
  position:absolute;
  left:527px;
  top:390px;
  width:140px;
  height:30px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u2039 {
  position:absolute;
  left:0px;
  top:420px;
  width:144px;
  height:30px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2041 {
  position:absolute;
  left:144px;
  top:420px;
  width:383px;
  height:30px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:7px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2043 {
  position:absolute;
  left:527px;
  top:420px;
  width:140px;
  height:30px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2045 {
  position:absolute;
  left:446px;
  top:253px;
  width:239px;
  height:60px;
  color:#FF0000;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2047 {
  position:absolute;
  left:403px;
  top:783px;
  width:197px;
  height:20px;
  color:#FF0000;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
