body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1661 {
  position:absolute;
  left:0px;
  top:110px;
  width:1000px;
  height:52px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:18px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1663 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:47px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1665 {
  position:absolute;
  left:36px;
  top:13px;
  width:193px;
  height:45px;
}
#u1666 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1667 {
  position:absolute;
  left:237px;
  top:31px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u1668 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1669 {
  position:absolute;
  left:710px;
  top:58px;
  width:200px;
  height:35px;
}
#u1669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1670 {
  position:absolute;
  left:920px;
  top:58px;
  width:60px;
  height:35px;
}
#u1670_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1671 {
  position:absolute;
  left:894px;
  top:18px;
  width:86px;
  height:22px;
  font-size:16px;
}
#u1672 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u1673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1673 {
  position:absolute;
  left:810px;
  top:18px;
  width:67px;
  height:22px;
  font-size:16px;
}
#u1674 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1675 {
  position:absolute;
  left:140px;
  top:110px;
  width:721px;
  height:52px;
}
#u1675_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:727px;
  height:58px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:57px;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1677 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1679 {
  position:absolute;
  left:144px;
  top:0px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u1680 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1681 {
  position:absolute;
  left:288px;
  top:0px;
  width:144px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1682 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1683 {
  position:absolute;
  left:432px;
  top:0px;
  width:144px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1684 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u1685 {
  position:absolute;
  left:576px;
  top:0px;
  width:145px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1686 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u1687 {
  position:absolute;
  left:432px;
  top:52px;
  width:144px;
  height:104px;
  visibility:hidden;
}
#u1687_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:150px;
  height:110px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1688 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:109px;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1689 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u1690 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u1691 {
  position:absolute;
  left:0px;
  top:52px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u1692 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1694 {
  position:absolute;
  left:0px;
  top:1246px;
  width:1000px;
  height:150px;
}
#u1695 {
  position:absolute;
  left:2px;
  top:67px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u1696 {
  position:absolute;
  left:145px;
  top:1285px;
  width:160px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u1697 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1698 {
  position:absolute;
  left:345px;
  top:1285px;
  width:510px;
  height:72px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1699 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u1700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1700 {
  position:absolute;
  left:344px;
  top:183px;
  width:313px;
  height:33px;
}
#u1701 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u1702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1702 {
  position:absolute;
  left:496px;
  top:235px;
  width:75px;
  height:16px;
}
#u1703 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1704 {
  position:absolute;
  left:431px;
  top:228px;
  width:61px;
  height:29px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1705 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1706 {
  position:absolute;
  left:95px;
  top:340px;
  width:801px;
  height:222px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1707 {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  word-wrap:break-word;
}
#u1708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1708 {
  position:absolute;
  left:95px;
  top:1006px;
  width:801px;
  height:222px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1709 {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  word-wrap:break-word;
}
#u1710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:395px;
}
#u1710 {
  position:absolute;
  left:164px;
  top:585px;
  width:650px;
  height:394px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1711 {
  position:absolute;
  left:2px;
  top:188px;
  width:646px;
  word-wrap:break-word;
}
#u1713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
}
#u1713 {
  position:absolute;
  left:371px;
  top:267px;
  width:58px;
  height:46px;
}
#u1714 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u1715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
}
#u1715 {
  position:absolute;
  left:440px;
  top:267px;
  width:58px;
  height:46px;
}
#u1716 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u1717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
}
#u1717 {
  position:absolute;
  left:507px;
  top:267px;
  width:58px;
  height:46px;
}
#u1718 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u1719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
}
#u1719 {
  position:absolute;
  left:573px;
  top:267px;
  width:58px;
  height:46px;
}
#u1720 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
