body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:438px;
}
#u0 {
  position:absolute;
  left:65px;
  top:1051px;
  width:900px;
  height:438px;
}
#u1 {
  position:absolute;
  left:2px;
  top:211px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:122px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:122px;
}
#u4 {
  position:absolute;
  left:2px;
  top:53px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:32px;
  top:30px;
  width:129px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:757px;
  top:43px;
  width:43px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:834px;
  top:43px;
  width:43px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:912px;
  top:43px;
  width:57px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:0px;
  top:2669px;
  width:1000px;
  height:84px;
}
#u15 {
  position:absolute;
  left:2px;
  top:34px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:290px;
  top:2694px;
  width:85px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:416px;
  top:2694px;
  width:85px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:542px;
  top:2694px;
  width:71px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u22 {
  position:absolute;
  left:654px;
  top:2694px;
  width:57px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u24 {
  position:absolute;
  left:31px;
  top:138px;
  width:169px;
  height:33px;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u26 {
  position:absolute;
  left:26px;
  top:375px;
  width:301px;
  height:33px;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:40px;
  top:2121px;
  width:97px;
  height:33px;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u30 {
  position:absolute;
  left:40px;
  top:1531px;
  width:97px;
  height:33px;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:40px;
  top:980px;
  width:97px;
  height:33px;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:156px;
}
#u34 {
  position:absolute;
  left:26px;
  top:201px;
  width:133px;
  height:156px;
}
#u35 {
  position:absolute;
  left:2px;
  top:70px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:157px;
}
#u36 {
  position:absolute;
  left:26px;
  top:461px;
  width:116px;
  height:157px;
}
#u37 {
  position:absolute;
  left:2px;
  top:70px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u38 {
  position:absolute;
  left:152px;
  top:471px;
  width:17px;
  height:16px;
  color:#169BD5;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u40 {
  position:absolute;
  left:152px;
  top:497px;
  width:17px;
  height:16px;
  color:#169BD5;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u42 {
  position:absolute;
  left:160px;
  top:520px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u44 {
  position:absolute;
  left:160px;
  top:544px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:142px;
  top:441px;
  width:169px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u48 {
  position:absolute;
  left:160px;
  top:567px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u50 {
  position:absolute;
  left:160px;
  top:593px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u52 {
  position:absolute;
  left:218px;
  top:471px;
  width:17px;
  height:16px;
  color:#169BD5;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u54 {
  position:absolute;
  left:218px;
  top:497px;
  width:17px;
  height:16px;
  color:#169BD5;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u56 {
  position:absolute;
  left:226px;
  top:520px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u58 {
  position:absolute;
  left:226px;
  top:544px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u60 {
  position:absolute;
  left:226px;
  top:567px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u62 {
  position:absolute;
  left:226px;
  top:593px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u64 {
  position:absolute;
  left:280px;
  top:471px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u66 {
  position:absolute;
  left:280px;
  top:497px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u68 {
  position:absolute;
  left:280px;
  top:520px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u70 {
  position:absolute;
  left:280px;
  top:544px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u72 {
  position:absolute;
  left:280px;
  top:567px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u74 {
  position:absolute;
  left:280px;
  top:593px;
  width:9px;
  height:16px;
  color:#169BD5;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:303px;
}
#u76 {
  position:absolute;
  left:20px;
  top:1619px;
  width:471px;
  height:303px;
}
#u77 {
  position:absolute;
  left:2px;
  top:144px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u78 {
  position:absolute;
  left:40px;
  top:1584px;
  width:37px;
  height:25px;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u80 {
  position:absolute;
  left:40px;
  top:2178px;
  width:37px;
  height:25px;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u82 {
  position:absolute;
  left:277px;
  top:138px;
  width:253px;
  height:17px;
  font-size:12px;
  color:#FF0000;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:142px;
  top:435px;
  width:169px;
  height:174px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:166px;
}
#u85 {
  position:absolute;
  left:192px;
  top:198px;
  width:741px;
  height:166px;
}
#u86 {
  position:absolute;
  left:2px;
  top:75px;
  width:737px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:589px;
}
#u87 {
  position:absolute;
  left:356px;
  top:382px;
  width:592px;
  height:589px;
}
#u88 {
  position:absolute;
  left:2px;
  top:286px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  position:absolute;
  left:53px;
  top:742px;
  width:43px;
  height:20px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:125px;
}
#u91 {
  position:absolute;
  left:40px;
  top:762px;
  width:269px;
  height:125px;
}
#u92 {
  position:absolute;
  left:2px;
  top:54px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:226px;
  top:497px;
  width:578px;
  height:333px;
  overflow:hidden;
}
#u93_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:333px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u93_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94 {
  position:absolute;
  left:11px;
  top:14px;
  width:558px;
  height:317px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u97 {
  position:absolute;
  left:92px;
  top:0px;
  width:92px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u99 {
  position:absolute;
  left:184px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u100 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u101 {
  position:absolute;
  left:276px;
  top:0px;
  width:92px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u103 {
  position:absolute;
  left:368px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u104 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u105 {
  position:absolute;
  left:460px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u106 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u107 {
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u109 {
  position:absolute;
  left:92px;
  top:30px;
  width:92px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u111 {
  position:absolute;
  left:184px;
  top:30px;
  width:92px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u113 {
  position:absolute;
  left:276px;
  top:30px;
  width:92px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u115 {
  position:absolute;
  left:368px;
  top:30px;
  width:92px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u117 {
  position:absolute;
  left:460px;
  top:30px;
  width:93px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u119 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u121 {
  position:absolute;
  left:92px;
  top:60px;
  width:92px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u123 {
  position:absolute;
  left:184px;
  top:60px;
  width:92px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u125 {
  position:absolute;
  left:276px;
  top:60px;
  width:92px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u127 {
  position:absolute;
  left:368px;
  top:60px;
  width:92px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u129 {
  position:absolute;
  left:460px;
  top:60px;
  width:93px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u131 {
  position:absolute;
  left:0px;
  top:90px;
  width:92px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u133 {
  position:absolute;
  left:92px;
  top:90px;
  width:92px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u135 {
  position:absolute;
  left:184px;
  top:90px;
  width:92px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u137 {
  position:absolute;
  left:276px;
  top:90px;
  width:92px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u139 {
  position:absolute;
  left:368px;
  top:90px;
  width:92px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u141 {
  position:absolute;
  left:460px;
  top:90px;
  width:93px;
  height:30px;
}
#u142 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u143 {
  position:absolute;
  left:0px;
  top:120px;
  width:92px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u145 {
  position:absolute;
  left:92px;
  top:120px;
  width:92px;
  height:30px;
}
#u146 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u147 {
  position:absolute;
  left:184px;
  top:120px;
  width:92px;
  height:30px;
}
#u148 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u149 {
  position:absolute;
  left:276px;
  top:120px;
  width:92px;
  height:30px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u151 {
  position:absolute;
  left:368px;
  top:120px;
  width:92px;
  height:30px;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u153 {
  position:absolute;
  left:460px;
  top:120px;
  width:93px;
  height:30px;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u155 {
  position:absolute;
  left:0px;
  top:150px;
  width:92px;
  height:30px;
}
#u156 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u157 {
  position:absolute;
  left:92px;
  top:150px;
  width:92px;
  height:30px;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u159 {
  position:absolute;
  left:184px;
  top:150px;
  width:92px;
  height:30px;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u161 {
  position:absolute;
  left:276px;
  top:150px;
  width:92px;
  height:30px;
}
#u162 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u163 {
  position:absolute;
  left:368px;
  top:150px;
  width:92px;
  height:30px;
}
#u164 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u165 {
  position:absolute;
  left:460px;
  top:150px;
  width:93px;
  height:30px;
}
#u166 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u167 {
  position:absolute;
  left:0px;
  top:180px;
  width:92px;
  height:30px;
}
#u168 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u169 {
  position:absolute;
  left:92px;
  top:180px;
  width:92px;
  height:30px;
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u171 {
  position:absolute;
  left:184px;
  top:180px;
  width:92px;
  height:30px;
}
#u172 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u173 {
  position:absolute;
  left:276px;
  top:180px;
  width:92px;
  height:30px;
}
#u174 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u175 {
  position:absolute;
  left:368px;
  top:180px;
  width:92px;
  height:30px;
}
#u176 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u177 {
  position:absolute;
  left:460px;
  top:180px;
  width:93px;
  height:30px;
}
#u178 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u179 {
  position:absolute;
  left:0px;
  top:210px;
  width:92px;
  height:30px;
}
#u180 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u181 {
  position:absolute;
  left:92px;
  top:210px;
  width:92px;
  height:30px;
}
#u182 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u183 {
  position:absolute;
  left:184px;
  top:210px;
  width:92px;
  height:30px;
}
#u184 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u185 {
  position:absolute;
  left:276px;
  top:210px;
  width:92px;
  height:30px;
}
#u186 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u187 {
  position:absolute;
  left:368px;
  top:210px;
  width:92px;
  height:30px;
}
#u188 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u189 {
  position:absolute;
  left:460px;
  top:210px;
  width:93px;
  height:30px;
}
#u190 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u191 {
  position:absolute;
  left:0px;
  top:240px;
  width:92px;
  height:36px;
}
#u192 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u193 {
  position:absolute;
  left:92px;
  top:240px;
  width:92px;
  height:36px;
}
#u194 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u195 {
  position:absolute;
  left:184px;
  top:240px;
  width:92px;
  height:36px;
}
#u196 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u197 {
  position:absolute;
  left:276px;
  top:240px;
  width:92px;
  height:36px;
}
#u198 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u199 {
  position:absolute;
  left:368px;
  top:240px;
  width:92px;
  height:36px;
}
#u200 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u201 {
  position:absolute;
  left:460px;
  top:240px;
  width:93px;
  height:36px;
}
#u202 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u203 {
  position:absolute;
  left:0px;
  top:276px;
  width:92px;
  height:36px;
}
#u204 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u205 {
  position:absolute;
  left:92px;
  top:276px;
  width:92px;
  height:36px;
}
#u206 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u207 {
  position:absolute;
  left:184px;
  top:276px;
  width:92px;
  height:36px;
}
#u208 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u209 {
  position:absolute;
  left:276px;
  top:276px;
  width:92px;
  height:36px;
}
#u210 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u211 {
  position:absolute;
  left:368px;
  top:276px;
  width:92px;
  height:36px;
}
#u212 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u213 {
  position:absolute;
  left:460px;
  top:276px;
  width:93px;
  height:36px;
}
#u214 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:445px;
}
#u215 {
  position:absolute;
  left:491px;
  top:1574px;
  width:501px;
  height:445px;
}
#u216 {
  position:absolute;
  left:2px;
  top:214px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:303px;
}
#u217 {
  position:absolute;
  left:20px;
  top:2245px;
  width:471px;
  height:303px;
}
#u218 {
  position:absolute;
  left:2px;
  top:144px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:445px;
}
#u219 {
  position:absolute;
  left:491px;
  top:2200px;
  width:501px;
  height:445px;
}
#u220 {
  position:absolute;
  left:2px;
  top:214px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u221 {
  position:absolute;
  left:87px;
  top:2183px;
  width:113px;
  height:20px;
  color:#FF0000;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u223 {
  position:absolute;
  left:699px;
  top:2301px;
  width:85px;
  height:20px;
  color:#000000;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u225 {
  position:absolute;
  left:863px;
  top:2406px;
  width:85px;
  height:20px;
  color:#000000;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u227 {
  position:absolute;
  left:628px;
  top:2472px;
  width:85px;
  height:20px;
  color:#000000;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u229 {
  position:absolute;
  left:578px;
  top:2555px;
  width:85px;
  height:20px;
  color:#000000;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u231 {
  position:absolute;
  left:556px;
  top:2618px;
  width:85px;
  height:20px;
  color:#000000;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u233 {
  position:absolute;
  left:701px;
  top:1676px;
  width:85px;
  height:20px;
  color:#000000;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u235 {
  position:absolute;
  left:628px;
  top:1846px;
  width:85px;
  height:20px;
  color:#000000;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u237 {
  position:absolute;
  left:580px;
  top:1929px;
  width:85px;
  height:20px;
  color:#000000;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u239 {
  position:absolute;
  left:344px;
  top:161px;
  width:505px;
  height:17px;
  font-size:12px;
  color:#FF0000;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  white-space:nowrap;
}
