body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:121px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3620 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:121px;
}
#u3621 {
  position:absolute;
  left:2px;
  top:52px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3622 {
  position:absolute;
  left:21px;
  top:16px;
  width:289px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3623 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u3624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3624 {
  position:absolute;
  left:642px;
  top:31px;
  width:336px;
  height:20px;
}
#u3625 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
#u3626 {
  position:absolute;
  left:0px;
  top:91px;
  width:1000px;
  height:30px;
}
#u3626_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1006px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3627 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:35px;
}
#u3628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u3628 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3629 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u3630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u3630 {
  position:absolute;
  left:250px;
  top:0px;
  width:250px;
  height:30px;
}
#u3631 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u3632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u3632 {
  position:absolute;
  left:500px;
  top:0px;
  width:250px;
  height:30px;
}
#u3633 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u3634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u3634 {
  position:absolute;
  left:750px;
  top:0px;
  width:250px;
  height:30px;
}
#u3635 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u3636 {
  position:absolute;
  left:250px;
  top:30px;
  width:194px;
  height:240px;
  visibility:hidden;
}
#u3636_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:200px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3637 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:245px;
}
#u3638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u3638 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3639 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u3640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u3640 {
  position:absolute;
  left:0px;
  top:40px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3641 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u3642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u3642 {
  position:absolute;
  left:0px;
  top:80px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3643 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u3644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u3644 {
  position:absolute;
  left:0px;
  top:120px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3645 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u3646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u3646 {
  position:absolute;
  left:0px;
  top:160px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3647 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u3648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u3648 {
  position:absolute;
  left:0px;
  top:200px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3649 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u3650 {
  position:absolute;
  left:500px;
  top:30px;
  width:193px;
  height:90px;
  visibility:hidden;
}
#u3650_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3651 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:95px;
}
#u3652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u3652 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3653 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u3654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u3654 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3655 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u3656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u3656 {
  position:absolute;
  left:0px;
  top:60px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3657 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u3658 {
  position:absolute;
  left:750px;
  top:30px;
  width:194px;
  height:150px;
  visibility:hidden;
}
#u3658_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:200px;
  height:156px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3659 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:155px;
}
#u3660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u3660 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3661 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u3662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u3662 {
  position:absolute;
  left:0px;
  top:30px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3663 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u3664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u3664 {
  position:absolute;
  left:0px;
  top:60px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3665 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u3666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u3666 {
  position:absolute;
  left:0px;
  top:90px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3667 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u3668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u3668 {
  position:absolute;
  left:0px;
  top:120px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3669 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u3670 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:180px;
  visibility:hidden;
}
#u3670_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:186px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3671 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:185px;
}
#u3672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u3672 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3673 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u3674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u3674 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3675 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u3676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u3676 {
  position:absolute;
  left:0px;
  top:60px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3677 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u3678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u3678 {
  position:absolute;
  left:0px;
  top:90px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3679 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u3680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u3680 {
  position:absolute;
  left:0px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3681 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u3682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u3682 {
  position:absolute;
  left:0px;
  top:150px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3683 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u3684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3684 {
  position:absolute;
  left:428px;
  top:151px;
  width:145px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3685 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u3686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3686 {
  position:absolute;
  left:511px;
  top:770px;
  width:140px;
  height:40px;
}
#u3687 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3688 {
  position:absolute;
  left:349px;
  top:770px;
  width:140px;
  height:40px;
}
#u3689 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3690 {
  position:absolute;
  left:349px;
  top:395px;
  width:85px;
  height:20px;
}
#u3691 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3692 {
  position:absolute;
  left:351px;
  top:609px;
  width:113px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3693 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3694 {
  position:absolute;
  left:349px;
  top:629px;
  width:302px;
  height:25px;
}
#u3694_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3695 {
  position:absolute;
  left:349px;
  top:205px;
  width:43px;
  height:20px;
}
#u3696 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3697 {
  position:absolute;
  left:351px;
  top:228px;
  width:93px;
  height:22px;
}
#u3697_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3697_input:disabled {
  color:grayText;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3698 {
  position:absolute;
  left:174px;
  top:601px;
  width:147px;
  height:40px;
  color:#FF0000;
}
#u3699 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u3700 {
  position:absolute;
  left:349px;
  top:417px;
  width:300px;
  height:170px;
}
#u3700_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3701 {
  position:absolute;
  left:351px;
  top:666px;
  width:71px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3702 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3703 {
  position:absolute;
  left:349px;
  top:691px;
  width:302px;
  height:25px;
}
#u3703_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3704 {
  position:absolute;
  left:349px;
  top:272px;
  width:85px;
  height:20px;
}
#u3705 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3706 {
  position:absolute;
  left:349px;
  top:293px;
  width:302px;
  height:25px;
}
#u3706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3707 {
  position:absolute;
  left:349px;
  top:334px;
  width:57px;
  height:20px;
}
#u3708 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3709 {
  position:absolute;
  left:349px;
  top:353px;
  width:302px;
  height:25px;
}
#u3709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
