body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  position:absolute;
  left:0px;
  top:110px;
  width:1000px;
  height:52px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:18px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:47px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2095 {
  position:absolute;
  left:36px;
  top:13px;
  width:193px;
  height:45px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2097 {
  position:absolute;
  left:237px;
  top:31px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u2098 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2099 {
  position:absolute;
  left:710px;
  top:58px;
  width:200px;
  height:35px;
}
#u2099_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2100 {
  position:absolute;
  left:920px;
  top:58px;
  width:60px;
  height:35px;
}
#u2100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2101 {
  position:absolute;
  left:894px;
  top:18px;
  width:86px;
  height:22px;
  font-size:16px;
}
#u2102 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2103 {
  position:absolute;
  left:810px;
  top:18px;
  width:67px;
  height:22px;
  font-size:16px;
}
#u2104 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2105 {
  position:absolute;
  left:140px;
  top:110px;
  width:721px;
  height:52px;
}
#u2105_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:727px;
  height:58px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2106 {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:57px;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2109 {
  position:absolute;
  left:144px;
  top:0px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2111 {
  position:absolute;
  left:288px;
  top:0px;
  width:144px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2113 {
  position:absolute;
  left:432px;
  top:0px;
  width:144px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u2115 {
  position:absolute;
  left:576px;
  top:0px;
  width:145px;
  height:52px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u2117 {
  position:absolute;
  left:432px;
  top:52px;
  width:144px;
  height:104px;
  visibility:hidden;
}
#u2117_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:150px;
  height:110px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:109px;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:52px;
  width:144px;
  height:52px;
  font-size:18px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2124 {
  position:absolute;
  left:0px;
  top:585px;
  width:1000px;
  height:150px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:67px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u2126 {
  position:absolute;
  left:145px;
  top:624px;
  width:160px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2128 {
  position:absolute;
  left:345px;
  top:624px;
  width:510px;
  height:72px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2130 {
  position:absolute;
  left:452px;
  top:182px;
  width:97px;
  height:33px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2132 {
  position:absolute;
  left:282px;
  top:216px;
  width:417px;
  height:20px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2134 {
  position:absolute;
  left:282px;
  top:246px;
  width:113px;
  height:20px;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2136 {
  position:absolute;
  left:282px;
  top:397px;
  width:71px;
  height:20px;
}
#u2137 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2138 {
  position:absolute;
  left:354px;
  top:395px;
  width:300px;
  height:25px;
}
#u2138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2139 {
  position:absolute;
  left:354px;
  top:427px;
  width:300px;
  height:25px;
}
#u2139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2140 {
  position:absolute;
  left:282px;
  top:302px;
  width:197px;
  height:20px;
  color:#FF0000;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u2142 {
  position:absolute;
  left:354px;
  top:457px;
  width:300px;
  height:25px;
}
#u2142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2143 {
  position:absolute;
  left:282px;
  top:329px;
  width:43px;
  height:20px;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2145 {
  position:absolute;
  left:354px;
  top:326px;
  width:300px;
  height:25px;
}
#u2145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2146 {
  position:absolute;
  left:430px;
  top:505px;
  width:140px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2147 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u2148 {
  position:absolute;
  left:354px;
  top:361px;
  width:300px;
  height:22px;
}
#u2148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2148_input:disabled {
  color:grayText;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2149 {
  position:absolute;
  left:282px;
  top:363px;
  width:71px;
  height:20px;
}
#u2150 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
