body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:602px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2287 {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:102px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:43px;
  width:598px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2289 {
  position:absolute;
  left:205px;
  top:19px;
  width:193px;
  height:45px;
}
#u2290 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2291 {
  position:absolute;
  left:259px;
  top:64px;
  width:85px;
  height:20px;
}
#u2292 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2293 {
  position:absolute;
  left:0px;
  top:294px;
  width:602px;
  height:102px;
}
#u2294 {
  position:absolute;
  left:2px;
  top:43px;
  width:598px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2295 {
  position:absolute;
  left:63px;
  top:335px;
  width:477px;
  height:16px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2296 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  white-space:nowrap;
}
#u2297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2297 {
  position:absolute;
  left:58px;
  top:121px;
  width:203px;
  height:40px;
}
#u2298 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u2299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2299 {
  position:absolute;
  left:58px;
  top:155px;
  width:509px;
  height:16px;
}
#u2300 {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2301 {
  position:absolute;
  left:58px;
  top:235px;
  width:417px;
  height:18px;
  font-size:13px;
}
#u2302 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u2303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-decoration:underline;
  color:#3300FF;
}
#u2303 {
  position:absolute;
  left:58px;
  top:181px;
  width:279px;
  height:15px;
  font-size:13px;
  text-decoration:underline;
  color:#3300FF;
}
#u2304 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
