body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1109px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:106px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:106px;
}
#u52 {
  position:absolute;
  left:2px;
  top:45px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:548px;
  top:7px;
  width:452px;
  height:43px;
}
#u54 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u55 {
  position:absolute;
  left:722px;
  top:18px;
  width:43px;
  height:20px;
  color:#000000;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u57 {
  position:absolute;
  left:792px;
  top:18px;
  width:57px;
  height:20px;
  color:#000000;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u59 {
  position:absolute;
  left:867px;
  top:18px;
  width:43px;
  height:20px;
  color:#000000;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u61 {
  position:absolute;
  left:925px;
  top:18px;
  width:57px;
  height:20px;
  color:#000000;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:58px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:0px;
  top:106px;
  width:1000px;
  height:58px;
}
#u64 {
  position:absolute;
  left:2px;
  top:21px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:98px;
  top:106px;
  width:734px;
  height:58px;
}
#u65_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:740px;
  height:64px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:63px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:58px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:58px;
  color:#FFFFFF;
}
#u68 {
  position:absolute;
  left:2px;
  top:20px;
  width:118px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:58px;
}
#u69 {
  position:absolute;
  left:122px;
  top:0px;
  width:122px;
  height:58px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u70 {
  position:absolute;
  left:2px;
  top:20px;
  width:118px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:58px;
}
#u71 {
  position:absolute;
  left:244px;
  top:0px;
  width:122px;
  height:58px;
  color:#FFFFFF;
}
#u72 {
  position:absolute;
  left:2px;
  top:20px;
  width:118px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:58px;
}
#u73 {
  position:absolute;
  left:366px;
  top:0px;
  width:122px;
  height:58px;
  color:#FFFFFF;
}
#u74 {
  position:absolute;
  left:2px;
  top:20px;
  width:118px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:58px;
}
#u75 {
  position:absolute;
  left:488px;
  top:0px;
  width:122px;
  height:58px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u76 {
  position:absolute;
  left:2px;
  top:20px;
  width:118px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:58px;
}
#u77 {
  position:absolute;
  left:610px;
  top:0px;
  width:124px;
  height:58px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u78 {
  position:absolute;
  left:2px;
  top:20px;
  width:120px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:58px;
  width:123px;
  height:60px;
  visibility:hidden;
}
#u79_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:129px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:65px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u83 {
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u84 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:244px;
  top:58px;
  width:123px;
  height:60px;
  visibility:hidden;
}
#u85_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:129px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:65px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u88 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u89 {
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u90 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u91 {
  position:absolute;
  left:1025px;
  top:18px;
  width:84px;
  height:20px;
  color:#FF0000;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u93 {
  position:absolute;
  left:371px;
  top:76px;
  width:259px;
  height:20px;
  color:#FF0000;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:356px;
}
#u96 {
  position:absolute;
  left:0px;
  top:1304px;
  width:1000px;
  height:356px;
}
#u97 {
  position:absolute;
  left:2px;
  top:170px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u98 {
  position:absolute;
  left:431px;
  top:234px;
  width:145px;
  height:33px;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:171px;
}
#u101 {
  position:absolute;
  left:57px;
  top:342px;
  width:272px;
  height:170px;
}
#u102 {
  position:absolute;
  left:2px;
  top:77px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  position:absolute;
  left:64px;
  top:522px;
  width:75px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  position:absolute;
  left:64px;
  top:546px;
  width:265px;
  height:20px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u107 {
  position:absolute;
  left:90px;
  top:203px;
  width:412px;
  height:70px;
  color:#FF0000;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:171px;
}
#u110 {
  position:absolute;
  left:364px;
  top:342px;
  width:272px;
  height:170px;
}
#u111 {
  position:absolute;
  left:2px;
  top:77px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:371px;
  top:522px;
  width:75px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  position:absolute;
  left:371px;
  top:546px;
  width:265px;
  height:20px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:171px;
}
#u117 {
  position:absolute;
  left:672px;
  top:342px;
  width:272px;
  height:170px;
}
#u118 {
  position:absolute;
  left:2px;
  top:77px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  position:absolute;
  left:679px;
  top:522px;
  width:75px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  position:absolute;
  left:679px;
  top:546px;
  width:265px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:171px;
}
#u124 {
  position:absolute;
  left:57px;
  top:614px;
  width:272px;
  height:170px;
}
#u125 {
  position:absolute;
  left:2px;
  top:77px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:64px;
  top:794px;
  width:75px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:64px;
  top:818px;
  width:265px;
  height:20px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:171px;
}
#u131 {
  position:absolute;
  left:364px;
  top:614px;
  width:272px;
  height:170px;
}
#u132 {
  position:absolute;
  left:2px;
  top:77px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:371px;
  top:794px;
  width:75px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:371px;
  top:818px;
  width:265px;
  height:20px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:171px;
}
#u138 {
  position:absolute;
  left:672px;
  top:614px;
  width:272px;
  height:170px;
}
#u139 {
  position:absolute;
  left:2px;
  top:77px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u140 {
  position:absolute;
  left:679px;
  top:794px;
  width:75px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:679px;
  top:818px;
  width:265px;
  height:20px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:171px;
}
#u145 {
  position:absolute;
  left:57px;
  top:902px;
  width:272px;
  height:170px;
}
#u146 {
  position:absolute;
  left:2px;
  top:77px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  position:absolute;
  left:64px;
  top:1082px;
  width:75px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u149 {
  position:absolute;
  left:64px;
  top:1106px;
  width:265px;
  height:20px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:171px;
}
#u152 {
  position:absolute;
  left:364px;
  top:902px;
  width:272px;
  height:170px;
}
#u153 {
  position:absolute;
  left:2px;
  top:77px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  position:absolute;
  left:371px;
  top:1082px;
  width:75px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  position:absolute;
  left:371px;
  top:1106px;
  width:265px;
  height:20px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:171px;
}
#u159 {
  position:absolute;
  left:672px;
  top:902px;
  width:272px;
  height:170px;
}
#u160 {
  position:absolute;
  left:2px;
  top:77px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u161 {
  position:absolute;
  left:679px;
  top:1082px;
  width:75px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  position:absolute;
  left:679px;
  top:1106px;
  width:265px;
  height:20px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:62px;
}
#u165 {
  position:absolute;
  left:768px;
  top:1205px;
  width:176px;
  height:62px;
}
#u166 {
  position:absolute;
  left:2px;
  top:23px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
