body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:121px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5366 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:121px;
}
#u5367 {
  position:absolute;
  left:2px;
  top:52px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5368 {
  position:absolute;
  left:21px;
  top:16px;
  width:289px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5369 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u5370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5370 {
  position:absolute;
  left:642px;
  top:31px;
  width:336px;
  height:20px;
}
#u5371 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
#u5372 {
  position:absolute;
  left:0px;
  top:91px;
  width:1000px;
  height:30px;
}
#u5372_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1006px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5373 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:35px;
}
#u5374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u5374 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5375 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u5376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u5376 {
  position:absolute;
  left:250px;
  top:0px;
  width:250px;
  height:30px;
}
#u5377 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u5378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u5378 {
  position:absolute;
  left:500px;
  top:0px;
  width:250px;
  height:30px;
}
#u5379 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u5380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u5380 {
  position:absolute;
  left:750px;
  top:0px;
  width:250px;
  height:30px;
}
#u5381 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u5382 {
  position:absolute;
  left:250px;
  top:30px;
  width:194px;
  height:240px;
  visibility:hidden;
}
#u5382_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:200px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5383 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:245px;
}
#u5384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u5384 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5385 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u5386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u5386 {
  position:absolute;
  left:0px;
  top:40px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5387 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u5388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u5388 {
  position:absolute;
  left:0px;
  top:80px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5389 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u5390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u5390 {
  position:absolute;
  left:0px;
  top:120px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5391 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u5392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u5392 {
  position:absolute;
  left:0px;
  top:160px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5393 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u5394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u5394 {
  position:absolute;
  left:0px;
  top:200px;
  width:194px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5395 {
  position:absolute;
  left:2px;
  top:11px;
  width:190px;
  word-wrap:break-word;
}
#u5396 {
  position:absolute;
  left:500px;
  top:30px;
  width:193px;
  height:90px;
  visibility:hidden;
}
#u5396_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5397 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:95px;
}
#u5398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u5398 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5399 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u5400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u5400 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5401 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u5402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u5402 {
  position:absolute;
  left:0px;
  top:60px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5403 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u5404 {
  position:absolute;
  left:750px;
  top:30px;
  width:194px;
  height:150px;
  visibility:hidden;
}
#u5404_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:200px;
  height:156px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5405 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:155px;
}
#u5406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u5406 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5407 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u5408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u5408 {
  position:absolute;
  left:0px;
  top:30px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5409 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u5410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u5410 {
  position:absolute;
  left:0px;
  top:60px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5411 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u5412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u5412 {
  position:absolute;
  left:0px;
  top:90px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5413 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u5414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u5414 {
  position:absolute;
  left:0px;
  top:120px;
  width:194px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5415 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u5416 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:180px;
  visibility:hidden;
}
#u5416_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:186px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5417 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:185px;
}
#u5418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u5418 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5419 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u5420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u5420 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5421 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u5422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u5422 {
  position:absolute;
  left:0px;
  top:60px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5423 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u5424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u5424 {
  position:absolute;
  left:0px;
  top:90px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5425 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u5426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u5426 {
  position:absolute;
  left:0px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5427 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u5428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u5428 {
  position:absolute;
  left:0px;
  top:150px;
  width:193px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5429 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u5430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5430 {
  position:absolute;
  left:428px;
  top:149px;
  width:145px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5431 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5432 {
  position:absolute;
  left:349px;
  top:269px;
  width:29px;
  height:20px;
}
#u5433 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5434 {
  position:absolute;
  left:321px;
  top:234px;
  width:57px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5435 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5436 {
  position:absolute;
  left:387px;
  top:270px;
  width:9px;
  height:16px;
}
#u5437 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u5438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5438 {
  position:absolute;
  left:406px;
  top:266px;
  width:183px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5439 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u5440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u5440 {
  position:absolute;
  left:338px;
  top:202px;
  width:40px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u5441 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5442 {
  position:absolute;
  left:386px;
  top:200px;
  width:205px;
  height:22px;
}
#u5442_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5442_input:disabled {
  color:grayText;
}
#u5443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u5443 {
  position:absolute;
  left:356px;
  top:586px;
  width:20px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u5444 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u5445 {
  position:absolute;
  left:386px;
  top:587px;
  width:205px;
  height:22px;
}
#u5445_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5445_input:disabled {
  color:grayText;
}
#u5446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u5446 {
  position:absolute;
  left:518px;
  top:614px;
  width:53px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u5447 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5448 {
  position:absolute;
  left:511px;
  top:739px;
  width:140px;
  height:40px;
}
#u5449 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u5450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5450 {
  position:absolute;
  left:349px;
  top:739px;
  width:140px;
  height:40px;
}
#u5451 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u5452 {
  position:absolute;
  left:388px;
  top:232px;
  width:185px;
  height:25px;
}
#u5452_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5453 {
  position:absolute;
  left:273px;
  top:707px;
  width:85px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5454 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5455 {
  position:absolute;
  left:368px;
  top:704px;
  width:295px;
  height:25px;
}
#u5455_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5456 {
  position:absolute;
  left:284px;
  top:311px;
  width:85px;
  height:20px;
}
#u5457 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5458 {
  position:absolute;
  left:379px;
  top:309px;
  width:300px;
  height:22px;
}
#u5458_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5458_input:disabled {
  color:grayText;
}
#u5459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5459 {
  position:absolute;
  left:321px;
  top:386px;
  width:29px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5460 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5461 {
  position:absolute;
  left:321px;
  top:502px;
  width:29px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5462 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5463 {
  position:absolute;
  left:321px;
  top:424px;
  width:29px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5464 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5465 {
  position:absolute;
  left:307px;
  top:461px;
  width:43px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5466 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5467 {
  position:absolute;
  left:491px;
  top:637px;
  width:113px;
  height:22px;
}
#u5467_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5467_input:disabled {
  color:grayText;
}
#u5468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u5468 {
  position:absolute;
  left:394px;
  top:614px;
  width:53px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u5469 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5470 {
  position:absolute;
  left:405px;
  top:639px;
  width:29px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u5471 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5472 {
  position:absolute;
  left:461px;
  top:384px;
  width:24px;
  height:22px;
}
#u5473 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5474 {
  position:absolute;
  left:368px;
  top:384px;
  width:89px;
  height:22px;
}
#u5474_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5474_input:disabled {
  color:grayText;
}
#u5475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5475 {
  position:absolute;
  left:229px;
  top:424px;
  width:57px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5476 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5477 {
  position:absolute;
  left:461px;
  top:423px;
  width:24px;
  height:22px;
}
#u5478 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5479 {
  position:absolute;
  left:368px;
  top:423px;
  width:89px;
  height:22px;
}
#u5479_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5479_input:disabled {
  color:grayText;
}
#u5480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5480 {
  position:absolute;
  left:461px;
  top:461px;
  width:24px;
  height:22px;
}
#u5481 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5482 {
  position:absolute;
  left:368px;
  top:461px;
  width:89px;
  height:22px;
}
#u5482_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5482_input:disabled {
  color:grayText;
}
#u5483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5483 {
  position:absolute;
  left:461px;
  top:500px;
  width:24px;
  height:22px;
}
#u5484 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5485 {
  position:absolute;
  left:368px;
  top:500px;
  width:89px;
  height:22px;
}
#u5485_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5485_input:disabled {
  color:grayText;
}
